<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-iny3n5bkcokljiy3.us.auth0.com</string>
	<key>ClientId</key>
	<string>TLxh0U2PKPzncEicdldUgi2T2erjZ3zw</string>
</dict>
</plist>
